body {
    margin-top: 2px;
    font: 10px sans-serif;
    background : LightGray;
  }
  
  .infoGraphic{
    background : white;
  }
  
  #tooltip{
    text-align: center;
  }
  
  .foreignObject {
      margin-top: 1px;
      padding: 1px;
      font: 9px sans-serif;
      background: "transparent";
      overflow: hidden;
      text-align: center;
      color: black;
  
  }